FontBase($font-size = false, $line-height = false)
    if $font-size == inherit
        font-size inherit
    else
        if $font-size
            font-size ($font-size/ 10) rem

    if $line-height
        line-height unit((round($line-height/$font-size*100))/100, '')

// nahradit spravnymi definicemi
FontSampleRegular($font-size = false, $line-height = false)
    font-family $font-sample
    font-weight normal
    FontBase($font-size, $line-height)

FontSampleBold($font-size = false, $line-height = false)
    font-family $font-sample
    font-weight 700
    FontBase($font-size, $line-height)