triangle-size($width = 10px, $height = 10px, $direction = 'bottom')
    if $direction == 'top'
        border-width 0 ($width * .5) $height ($width * .5)

    if $direction == 'topRight'
        border-width 0 $width $height 0

    if $direction == 'right'
        border-width ($height * .5) 0 ($height *.5) $width

    if $direction == 'bottomRight'
        border-width 0 0 $height $width

    if $direction == 'bottom'
        border-width $height ($width * .5) 0 ($width * .5)

    if $direction == 'bottomLeft'
        border-width $width 0 0 $height

    if $direction == 'left'
        border-width ($height * .5) $width ($height * .5) 0

    if $direction == 'topLeft'
        border-width $height $width 0 0

triangle-color($color = #000, $direction = 'bottom')
    border-color transparent
    if $direction == 'top'
        border-bottom-color $color

    if $direction == 'topRight'
        border-right-color $color

    if $direction == 'right'
        border-left-color $color

    if $direction == 'bottomRight'
        border-bottom-color $color

    if $direction == 'bottom'
        border-top-color $color

    if $direction == 'bottomLeft'
        border-left-color $color

    if $direction == 'left'
        border-right-color $color

    if $direction == 'topLeft'
        border-top-color $color

triangle($width = 10px, $height = 10px, $direction = 'bottom', $color = #000)

    // Base triangle styles
    width 0
    height 0
    background 0
    border-style solid
    content ''
    display inline-block
    triangle-size($width, $height, $direction)
    triangle-color($color, $direction)