html
    font-size 62.5%
    height 100%

body
    font-size 1.5rem
    font-family $font-base
    height 100%

.swup
    min-height 100%
    width 100%

div, span, header, footer, nav, aside, form, input, textarea, article, section, main, aside, ul, li, a, p
    box-sizing border-box

h2, .Headline
    font-size 3rem
    color $black
    font-family $font-futura
    margin 18px auto 22px
    font-weight $extrabold
    line-height 1.2
    text-transform uppercase

    @media $small-wide-up
        font-size 4rem

    @media $xlarge-up
        font-size 5rem

    &:after
        background $orange
        height 2px
        width 0
        display block
        content ''
        margin 20px 0 0 0
        transition width .8s .4s
        //background var(--category-color)

        @media $small-wide-up
            margin 20px 0 0 -16px

        @media $xxlarge-up
            margin 20px 0 0 -50px

        html.no-js &, section.has-displayed &
            width 80px

    &--aligned
        &:after
            margin 20px 0 0 0

    &--basic
        &:after
            display none

    &--center
        &:after
            margin 20px auto 0

            @media $small-wide-up
                margin 20px auto 0

            @media $xxlarge-up
                margin 20px auto 0

    &--margin
        &_bottom
            margin-bottom 70px

    img
        margin 0 auto !important
        display inline-block
        pointer-events none

    &-big
        font-size 5rem

        @media $large-up
            font-size 7rem

h3
    font-size 2.4rem
    color $black
    font-family $font-futura
    margin 25px auto 10px
    font-weight $extrabold
    line-height 1.2
    text-transform uppercase

p
    color $grey
    font-size 1.6rem
    line-height 2
    margin 0 auto 20px

    @media $small-wide-up
        font-size 1.7rem

a
    color $black

    &:hover
        text-decoration none