
@font-face {
    font-family: 'dessertmenuscript';
    src: url('../fonts/dessert_menu_script.woff2') format('woff2'),
            url('../fonts/dessert_menu_script.woff') format('woff');
    url('../fonts/dessert_menu_script.otf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serif';
    src: url('../fonts/ptf55f.woff2') format('woff2'), url('../fonts/ptf55f.ttf') format('truetype'),
            url('../fonts/ptf55f.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Futura W04";
    src:url("../fonts/7a0bcc93-4ec5-4962-8f7d-b0a2ba0cad4b.eot?#iefix");
    src:url("../fonts/7a0bcc93-4ec5-4962-8f7d-b0a2ba0cad4b.eot?#iefix") format("eot"),url("../fonts/9550426d-1ed5-4fb6-8e1c-0529c8546247.woff2") format("woff2"),url("../fonts/9432cd19-89de-4884-bef2-8507ee5588e0.woff") format("woff"),url("../fonts/dc4205f2-bbb2-4c49-a37b-c3ed1585f174.ttf") format("truetype"),url("../fonts/8b01c1a5-04c8-4a6b-a925-79f92a72cbef.svg#8b01c1a5-04c8-4a6b-a925-79f92a72cbef") format("svg");
    font-weight: $light;
    font-style: normal;
}

@font-face{
    font-family:"Futura W04";
    src:url("../fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix");
    src:url("../fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix") format("eot"),url("../fonts/e17c7943-8db2-4470-9e2a-74a8d01f6776.woff2") format("woff2"),url("../fonts/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff"),url("../fonts/dd79c75a-b0c9-4d70-a5a7-bdde1d5449fd.ttf") format("truetype"),url("../fonts/c35c8eec-24d3-4ed7-9159-df80a008bf54.svg#c35c8eec-24d3-4ed7-9159-df80a008bf54") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family:"Futura W04";
    src:url("../fonts/700bd18e-d9e0-45c5-93e2-7c930608c50e.eot?#iefix");
    src:url("../fonts/700bd18e-d9e0-45c5-93e2-7c930608c50e.eot?#iefix") format("eot"),url("../fonts/12dbb46a-1b0b-40ee-80a6-4141c349b55f.woff2") format("woff2"),url("../fonts/2abd55ef-07d0-473e-80e1-0e4066cd01fa.woff") format("woff"),url("../fonts/c4fa8988-43d1-4a01-96e4-36c5c5a121c9.ttf") format("truetype"),url("../fonts/2ea6bace-93f3-4ab0-9f2d-77a466a20c7f.svg#2ea6bace-93f3-4ab0-9f2d-77a466a20c7f") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family:"Futura W04";
    src:url("../fonts/8022f509-a9cb-42d1-b1a9-c3ee026d6b98.eot?#iefix");
    src:url("../fonts/8022f509-a9cb-42d1-b1a9-c3ee026d6b98.eot?#iefix") format("eot"),url("../fonts/4702267c-c93c-4861-8891-3f2fdd8b6920.woff2") format("woff2"),url("../fonts/e32b7b0c-7a22-4ad4-8e39-613796e52378.woff") format("woff"),url("../fonts/f9ed439a-a20f-467e-80a6-9bb2c331966e.ttf") format("truetype"),url("../fonts/f03ec5f2-937f-4d88-96f0-cedc90ea985b.svg#f03ec5f2-937f-4d88-96f0-cedc90ea985b") format("svg");
    font-weight: 800;
    font-style: normal;
}

//@font-face{
//    font-family:"Verveine W02";
//    src:url("../fonts/eb580624-388b-43c8-9e12-21b01e116bc4.eot?#iefix");
//    src:url("../fonts/eb580624-388b-43c8-9e12-21b01e116bc4.eot?#iefix") format("eot"),url("../fonts/915605ec-fa9a-4aa9-bb39-a3b62f23ac07.woff2") format("woff2"),url("../fonts/21cc1b1b-ffeb-45fb-af55-32bda34e9783.woff") format("woff"),url("../fonts/aa50c788-4745-4560-a82f-2f013a852073.ttf") format("truetype"),url("../fonts/83edca5b-b205-43ea-99ae-ae3fd58edb64.svg#83edca5b-b205-43ea-99ae-ae3fd58edb64") format("svg");
//    font-weight: 400;
//    font-style: normal;
//}