$font-size = 1.6rem

// fonts
$font-dessert-script = 'dessertmenuscript', sans-serif
$font-futura = "Futura W04", sans-serif
$font-ptserif = "pt_serif", serif
$font-base = Helvetica, Arial, sans-serif


// font weights
$light = 200
$book = 400
$medium = 500
$bold = 700
$extrabold = 800

// colors
$yellow = #ffdb2e
$black = #1e212a
$grey = #666f7b
$lightgrey = #f1f5fb
$orange = #ff8752

// box-shadow
$boxShadow = 0 10px 30px rgba(#182452, .15)
$boxShadow2 = 0 10px 40px rgba(#000, .12)

$viewports = {
    small:     {min: 320,  max: 539},
    smallWide: {min: 540,  max: 767},
    medium:    {min: 768,  max: 1023},
    large:     {min: 1024, max: 1199},
    xlarge:    {min: 1200, max: 1399},
    xxlarge:   {min: 1400, max: 1919},
    xxxlarge:  {min: 1920}
}

// change to em values
for $type, $range in $viewports
    $boundaries = {}
    for $boundary, $value in $range
        $boundaries[$boundary] = $value/16em;
    $viewports[$type] = $boundaries;

$small-up = 'screen and (min-width: ' + $viewports.small.min + ')'
$small-only = $small-up + ' and (max-width: ' + $viewports.small.max + ')'
$small-max = 'screen and (max-width: ' + $viewports.small.max + ')'

$small-wide-up = 'screen and (min-width: ' + $viewports.smallWide.min + ')'
$small-wide-only = $small-wide-up + ' and (max-width: ' + $viewports.smallWide.max + ')'
$small-wide-max = 'screen and (max-width: ' + $viewports.smallWide.max + ')'

$medium-up = 'screen and (min-width: ' + $viewports.medium.min + ')'
$medium-only = $medium-up + ' and (max-width: ' + $viewports.medium.max + ')'
$medium-max = 'screen and (max-width: ' + $viewports.medium.max + ')'

$large-up = 'screen and (min-width: ' + $viewports.large.min + ')'
$large-only = $large-up + ' and (max-width: ' + $viewports.large.max + ')'
$large-max = 'screen and (max-width: ' + $viewports.large.max + ')'

$xlarge-up = 'screen and (min-width: ' + $viewports.xlarge.min + ')'
$xlarge-only = $xlarge-up + ' and (max-width: ' + $viewports.xlarge.max + ')'
$xlarge-max = 'screen and (max-width: ' + $viewports.xlarge.max + ')'

$xxlarge-up = 'screen and (min-width: ' + $viewports.xxlarge.min + ')'
$xxlarge-only = $xxlarge-up + ' and (max-width: ' + $viewports.xxlarge.max + ')'
$xxlarge-max = 'screen and (max-width: ' + $viewports.xxlarge.max + ')'

$xxxlarge-up = 'screen and (min-width: ' + $viewports.xxxlarge.min + ')'

$retina = '(min-resolution: 1.3dppx)'
$landscape = 'screen and (orientation: landscape)'
$portrait = 'screen and (orientation: portrait)'


// easing
// Cubic
$easeInCubic    = cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic   = cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic = cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc     = cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    = cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  = cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo     = cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    = cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  = cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad     = cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    = cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  = cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart    = cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   = cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart = cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    = cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   = cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint = cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine     = cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    = cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  = cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack     = cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    = cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  = cubic-bezier(0.680, -0.550, 0.265, 1.550);

$easeCustom1    = cubic-bezier(.23,1,.32,1);
$easeCustom2    = cubic-bezier(.455,.03,.515,.955)