@font-face
    font-family: 'icons'
    src: url('../fonts/icons/icons.eot')
    src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
        url('../fonts/icons/icons.woff2') format('woff2'),
        url('../fonts/icons/icons.woff') format('woff'),
        url('../fonts/icons/icons.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.icon-spin
    animation icon-spin 2s infinite linear


@keyframes icon-spin
    0%
        transform rotate(0deg);

    100%
        transform rotate(359deg);

icon()
    display: inline-block;
    font: normal normal normal 14px/1 'icons'; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

.icon:before
    icon()


$icon-arrow-bottom = '\EA01'
$icon-arrow-left = '\EA02'
$icon-arrow-right = '\EA03'
$icon-arrow-top = '\EA04'
$icon-circle = '\EA05'
$icon-dots = '\EA06'
$icon-facebook = '\EA07'
$icon-instagram = '\EA08'
$icon-play = '\EA09'
$icon-quote = '\EA0A'
$icon-svet-bydleni = '\EA0B'


.icon-arrow-bottom:before
    content $icon-arrow-bottom

.icon-arrow-left:before
    content $icon-arrow-left

.icon-arrow-right:before
    content $icon-arrow-right

.icon-arrow-top:before
    content $icon-arrow-top

.icon-circle:before
    content $icon-circle

.icon-dots:before
    content $icon-dots

.icon-facebook:before
    content $icon-facebook

.icon-instagram:before
    content $icon-instagram

.icon-play:before
    content $icon-play

.icon-quote:before
    content $icon-quote

.icon-svet-bydleni:before
    content $icon-svet-bydleni

