.browser-upgrade
    padding 0
    margin 0

    &__content
        font-size 1.4rem
        background-color #2A2E3C
        color white
        font-size 1em
        padding 1em
        position relative
        margin 0

    &__close
        background-color white
        border none
        min-width 0
        width 30px
        height 30px
        padding 0
        position absolute
        top 50%
        right .5em
        margin-top -15px
        color #2A2E3C
        font-size 2em
        line-height .5em
        overflow hidden
        text-align center

        &:hover
            background-color #cc0000
            color white

    a
        color inherit

    p
        margin 0
        padding 0