.Burger
    width 60px
    height 60px
    position relative
    background transparent
    border none
    padding 0
    display inline-block
    outline none

    border-radius 50%
    //
    vertical-align middle
    //margin -20px 0 0 10px
    top 0
    font-size 0

    &:before
        content ''
        display block
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        border 2px solid $black
        border-radius 50%
        transform scale(.9)

        .Magnetic:hover &
            animation burger 2s infinite

    &:after
        content ''
        display block
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        border-radius 50%
        background rgba(#fff, 1)
        transition background .6s, border .6s
        border 2px solid #fff

        html.menu-is-opened &
            background rgba(#fff, 0)
            border 2px solid #2c3237

    &-opened, &-closed
        position absolute
        stretch()
        top 22px
        left 20px
        z-index 5

    span
        height 2px
        display block
        overflow hidden

        &:after
            content ''
            display block
            width 100%
            height 100%
            background $black
            transition .4s
            backface-visibility hidden

        for i in 1..3
            &:nth-child({i}):after
                transition-delay i*.1s

    &-closed
        top 23px

        span
            width 100%

            &:nth-child(2)
                margin 3px 0 3px 0

            &:nth-child(3)
                margin 0 6px 0 0
                width 14px

            &:after
                transform translate3d(0, 0 , 0)
                opacity 1

                html.menu-is-opened &
                    transform translate3d(100%, 0 , 0)
                    opacity 0

    &-opened
        span
            width 20px

            &:nth-child(1)
                margin -1px 3px 0
                transform-origin 0 1px
                transform rotate(45deg)

            &:nth-child(2)
                margin -2px 0 0 -3px
                transform-origin 100% 1px
                transform rotate(-45deg)

            &:after
                transform translate3d(-100%, 0, 0)
                opacity 0
                background #fff

                html.menu-is-opened &
                    transform translate3d(0, 0 , 0)
                    opacity 1

@keyframes burger
    0%
        transform scale(.9)
        opacity 1

    50%, 100%
        transform scale(1.4)
        opacity 0