.Button
    display inline-block
    font-size 1.3rem
    color $black
    border 1px solid transparent
    padding 20px 22px
    outline none
    font-weight $bold
    border-radius 2px
    min-width 162px
    text-align center
    background $lightgrey
    text-transform uppercase
    text-decoration none

    &--yellow
        background $yellow
        box-shadow 0 10px 25px rgba($yellow, .75)

    &--wide
        min-width 280px