.Cards
    display block
    position relative
    margin 50px auto 0
    padding 0 60px 0 0

    @media $small-wide-up
        margin 50px auto 0
        padding 0 70px

    &-arrows
        position absolute
        top 50%
        transform translateY(-50%)
        z-index 20
        right 0

        @media $small-wide-up
            left 0
            right auto
            margin-top -60px

    &-arrow
        appearance none
        border none
        background #fff
        width 45px
        height 45px
        border-radius 50%
        font-size 0
        text-align center
        box-shadow $boxShadow2
        outline none
        display block
        margin 15px 0

        &:before
            icon()
            display block
            color $orange
            font-size .6rem

        &--top
            &:before
                content $icon-arrow-top

        &--bottom
            &:before
                content $icon-arrow-bottom

    &-holder
        position relative
        width 1000px
        padding-bottom 56%
        margin 0 auto 80px
        max-width 100%

        @media $xlarge-up
            margin 0 auto 40px

    &-item
        position absolute
        width 100%
        padding-bottom 56%
        box-shadow 0 50px 60px rgba(#182452, .1)
        transition transform .8s $easeCustom1, opacity .4s $easeCustom1, filter .8s $easeCustom1
        transform scale(.96) translate3d(0, 40px, 0)
        background #fff
        will-change filter, transform, opacity

        img
            position absolute
            top 0
            left 0
            right 0
            height auto
            display block
            width 100%

        &.is-before
            transform translate3d(0, -200px, 0) scale(1)
            opacity 0
            filter blur(8px)
            transition transform 1.2s $easeCustom1, opacity .4s .1s $easeCustom1, filter .8s $easeCustom1

        &.is-active
            transform scale(1)

            //& + .is-before
            //    transition-delay .1s
            //
            //    & + .is-before
            //        transition-delay .2s
            //
            //        & + .is-before
            //            transition-delay .3s

        &.is-after
            opacity 0

            &.is-displayed
                opacity 1

                & + &
                    transform scale(.98) translate3d(0, 20px, 0)

    &-nav
        display none

        @media $small-wide-up
            position absolute
            top 50%
            transform translateY(-50%)
            z-index 20
            margin-top -40px
            right 0
            display block

        ul
            reset-list()

        button
            font-size 1.2rem
            border none
            background none
            padding 5px
            font-family $font-futura
            font-weight $bold
            color #c6cacf
            outline none

            &.is-active
                color $black