.Carousel
    display block
    text-align center
    margin 0 auto
    max-width 1100px
    white-space nowrap
    position relative
    padding 0 20px

    @media $small-wide-up
        margin 40px auto 0

    @media $large-up
        margin 70px auto 0

    @media $xxlarge-up
        padding 0

    &-holder
        height 320px
        position relative
        outline none
        margin 0 auto

        @media $small-wide-up
            overflow hidden

    &-item
        width 280px
        height 184px
        display inline-block
        text-align left
        position relative
        box-shadow none
        margin 0 10px
        vertical-align top
        transition transform .3s, box-shadow .3s, opacity .3s
        box-shadow $boxShadow

        //@media $small-wide-max
        //    opacity 0

        @media $small-wide-up
            height 225px
            width 340px

        @media $xlarge-up
            box-shadow none
            transform scale(.85)

        &.is-selected
            //@media $small-wide-max
            //    opacity 1

            @media $xlarge-up
                box-shadow $boxShadow
                transform scale(1)

            .Carousel-description
                transform translate3d(0, 100%, 0)
                box-shadow $boxShadow

    &-img
        position relative
        z-index 10
        border-radius 2px
        overflow hidden
        //pointer-events none

        img
            width 100%
            height auto

            @media $small-wide-up
                width auto

    &-description
        width 100%
        height 60px
        background $orange
        padding 22px 24px
        font-weight $bold
        color #fff
        font-size 1.3rem
        transition transform .3s, box-shadow .3s
        bottom 0
        position absolute

        &:after
            content $icon-dots
            icon()
            display inline-block
            color #ee672b
            position absolute
            right 20px
            margin 4px 0 0
            font-size 6px

    a
        text-decoration none
        display block

    &-arrows
        width calc(100% - 40px)
        position absolute
        top 50%
        transform translateY(-50%)
        z-index 20
        height 1px
        margin 0 auto
        margin-top -40px

    &-arrow
        appearance none
        border none
        background #fff
        width 45px
        height 45px
        border-radius 50%
        font-size 0
        text-align center
        box-shadow $boxShadow2
        outline none

        &:before
            icon()
            display block
            color $orange
            font-size 1rem

        &--left
            float left
            margin-left -24px

            @media screen and (min-width 83.75em)
                margin-left -60px

            &:before
                content $icon-arrow-left

        &--right
            float right
            margin-right -24px

            @media screen and (min-width 83.75em)
                margin-right -60px

            &:before
                content $icon-arrow-right
