.Category
    &--online-svet
        h2:after
            background $orange

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill  $orange

    &--pobockova-sit
        h2:after
            background #70cfe3

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #70cfe3

    &--co-se-nam-povedloe
        h2:after
            background #ffa043

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #ffa043

    &--historie
        h2:after
            background #ffbc48

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #ffbc48

    &--pod-jednou-strechou
        h2:after
            background #FFDB2E

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #FFDB2E

    &--pomahame-spolecne
        h2:after
            background #ff2b72

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #ff2b72

    &--poznejte-jaci-jsme
        h2:after
            background #6ce174

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #6ce174

    &--technologie-nas-bavi
        h2:after
            background #b0db58

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #b0db58

    &--ze-zakulisi
        h2:after
            background #bb79ff

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #bb79ff

    &--statistika
        h2:after
            background #e76fcc

        .Section--grey_2
            .Section-bg
                path:nth-child(2)
                    fill #e76fcc

