.Circle
    display block
    margin 0 auto 100px
    width 300px
    height 300px
    border-radius 50%
    box-shadow 0 10px 50px rgba(#182452, .1)
    border 1px solid #fff

    @media $small-wide-up
        margin 0 auto
        transform scale(.8)
        width 580px
        height 580px

    @media $large-up
        transform none
        margin 210px auto 290px

    @media $xlarge-up
        margin 0 auto

    &-timeline
        position absolute
        margin 0
        width 300px

        @media $small-wide-up
            margin 19px
            width auto

        svg
            width 300px
            height 300px
            margin-left -1px

            @media $small-wide-up
                margin-left auto
                width 542px
                height 542px

    &-holder
        position relative
        display flex
        flex-direction column
        justify-content center
        height 100%
        width calc(100% - 40px)
        overflow hidden
        //margin 0 auto
        border-radius 50%
        outline none
        padding 0
        margin 10px auto
        cursor move

    &-item
        width 100%
        text-align center
        padding 20px 6% 20px

        display flex
        flex-direction column
        justify-content center

        @media $small-wide-up
            padding 0 20% 80px

        h3
            font-size 2.6rem
            margin 0 auto 20px

            @media $small-wide-up
                margin 0 auto 40px
                font-size 4rem

    &-dot
        display block
        position absolute
        background #fff
        width 35px
        height 35px
        border-radius 50%
        z-index 10
        cursor pointer

        &:after
            content ''
            width 15px
            height 15px
            border-radius 50%
            border 4px solid #fff
            position absolute
            background #70cfe3
            box-sizing border-box
            margin 10px

        span
            display inline-block
            position absolute
            font-size 2.4rem
            color $black
            font-family $font-futura
            //margin 25px auto 10px
            font-weight $extrabold
            line-height 1.2
            text-transform uppercase

            transition .8s $easeCustom1
            z-index 10

            @media $small-max
                display none

        &:nth-child(1)
            top 5px
            left 50%
            margin-left -17px
            margin-top -22px

            span
                left 50%
                transform translate(-50%, -60px)

            .flickity-index-4 &
                &:after
                    background #fff
                    border-color #70cfe3

        &:nth-child(2)
            top 50%
            right 0
            margin-right -17px
            margin-top -22px

            span
                top 50%
                transform translate(60px, -50%)

            .flickity-index-1 &, .flickity-index-2 &, .flickity-index-3 &, .flickity-index-4 &
                &:after
                    background #fff
                    border-color #70cfe3

        &:nth-child(3)
            bottom 5px
            left 50%
            margin-left -17px
            margin-bottom -18px

            span
                left 50%
                transform translate(-50%, 65px)

            .flickity-index-2 &, .flickity-index-3 &, .flickity-index-4 &
                &:after
                    background #fff
                    border-color #70cfe3

        &:nth-child(4)
            top 50%
            left 0
            margin-left -17px
            margin-top -22px

            span
                top 50%
                transform translate(-110px, -50%)

            .flickity-index-3 &, .flickity-index-4 &
                &:after
                    background #fff
                    border-color #70cfe3

    &-line
        stroke-dashoffset 2000
        transition stroke-dashoffset .8s $easeCustom1

        .flickity-index-0 &
            stroke-dashoffset 2000

        .flickity-index-1 &
            stroke-dashoffset 1575

        .flickity-index-2 &
            stroke-dashoffset 1150

        .flickity-index-3 &
            stroke-dashoffset 725

        .flickity-index-4 &
            stroke-dashoffset 0

    .flickity-page-dots
        reset-list()
        left 50%
        bottom 26px
        transform translate(-50%, 0)
        position absolute

        @media $small-wide-up
            bottom 170px

        li
            display inline-block
            height 7px
            width 7px
            border-radius 50%
            background #ebeef1
            margin 0 6px

            @media $small-wide-up
                margin 0 10px

            &.is-selected
                background #70cfe3

