.Felix
    width 100%
    pointer-events none
    display block
    margin 0 auto

    @media $small-wide-up
        float right
        width 120%

        //@media $small-wide-up
            //margin-right -140px

        @media $medium-up
            width 160%
            margin-right -140px

        @media screen and (min-width 80em)
            width 912px

        @media $xxlage-up
            margin-right -60px

    &-holder
        background image-url('felix.png')
        background-size contain
        width 100%
        padding-bottom 80%
        position relative
        transform scale(1)

        @media screen and (min-width 80em)
            background transparent
            transform scale(.8)

        @media screen and (min-height 46.875em)
            transform scale(1)

    @media screen and (min-width 80em)
        &-25, &-felix, &-ribbon, &-text
            position absolute
            background-repeat no-repeat

        &-25
            tile('logo/25.png', 0, 1)
            top 24.8%
            left 18.2%
            opacity 0

            html.no-js &
                opacity 1

            .Felix.is-loaded &
                animation number 1s forwards
                animation-delay .2s

        &-felix
            tile('logo/felix.png', 0, 1)
            top 3.8%
            left 56%
            opacity 0

            html.no-js &
                opacity 1

            .Felix.is-loaded &
                animation felix .6s forwards
                animation-delay 1s

        &-ribbon
            tile('logo/ribbon.png', 0, 1)
            top 62.8%
            left 0
            right 0
            opacity 0

            html.no-js &
                opacity 1

            .Felix.is-loaded &
                animation ribbon 1s forwards

        &-text
            tile('logo/text.png', 0, 1)
            top 81.6%
            left 15%
            right 0
            width 0

            html.no-js &
                width 100%

            .Felix.is-loaded &
                animation text 1s linear forwards
                animation-delay 1.4s

        &-star
            position absolute
            background-repeat no-repeat
            opacity 0

            html.no-js &
                opacity 1

            .Felix.is-loaded &
                animation star .4s linear forwards

            &--1
                tile('logo/star1.png', 0, 1)
                top 51%
                left 88%

                .Felix.is-loaded &
                        animation-delay 2s

            &--2
                tile('logo/star2.png', 0, 1)
                top 36%
                left 10%

                .Felix.is-loaded &
                    animation-delay 1.2s

            &--3
                tile('logo/star3.png', 0, 1)
                top 52%
                left 11%

                .Felix.is-loaded &
                    animation-delay 1s

            &--4
                tile('logo/star4.png', 0, 1)
                top 0
                left 40%

                .Felix.is-loaded &
                    animation-delay 1.6s

            &--5
                tile('logo/star5.png', 0, 1)
                top 11%
                left 36%

                .Felix.is-loaded &
                    animation-delay 1.5s

            &--6
                tile('logo/star6.png', 0, 1)
                top 9%
                left 46%

                .Felix.is-loaded &
                    animation-delay 1.7s



@keyframes text
    0%
        width 0%

    100%
        width 100%

@keyframes ribbon
    0%
        opacity 0
        transform translate3d(0, 20px, 0)

    50%
        opacity 1

    60%
        opacity 1
        transform translate3d(0, -10px, 0)

    100%
        opacity 1
        transform translate3d(0, 0, 0)

@keyframes number
    0%
        opacity 0
        transform translate3d(0, -100px, 0)

    50%
        opacity 1

    70%
        opacity 1
        transform translate3d(0, 10px, 0)

    100%
        opacity 1
        transform translate3d(0, 0, 0)

@keyframes felix
    0%
        opacity 0
        transform translate3d(0, -30px, 0) rotate(-3deg)

    50%
        opacity 1

    70%
        opacity 1

    100%
        opacity 1
        transform translate3d(0, 0, 0) rotate(0deg)

@keyframes star
    0%
        opacity 0
        transform scale(0)

    70%
        opacity 1
        transform scale(1.4)

    100%
        opacity 1
        transform scale(1)