.FooterNav
    display block
    position relative
    overflow hidden
    //background #22272c

    &-bg
        display block
        svg-bg('footer-nav-bg-mobile', 0, 1)
        left 50%
        top 16px
        position absolute
        transform translate3d(-50%, 0, 0)

        @media $medium-up
            display none

            html.no-cssmask &
                display block
                svg-bg('footer-nav-bg', 0, 1)

    &-inner
        position relative
        height 100%
        padding 230px 40px 190px
        display flex
        justify-content center
        align-items center
        z-index 2

        @media $medium-up
            clip-path url(#footerClipPath)
            background linear-gradient(to bottom, #2E343B, #20252A)

        html.no-cssmask &
            clip-path none
            background transparent

        @media $small-wide-max
            padding 120px 0 20px

    &-holder
        position relative
        width 100%

        @media $small-wide-max
            overflow hidden

    ol
        reset-list()
        display flex

    li
        display inline-block
        margin 0 10px

    h2
        position relative
        font-family $font-ptserif
        color #fff
        font-size 2.8rem
        text-transform none
        transition .2s $easeCustom2 .2s
        text-align center
        display block
        width 100%
        top 0
        margin 0 auto

        &:after
            display none

        @media $medium-up
            margin -60px auto 70px

    a
        text-decoration none

    &-menu
        display flex
        justify-content flex-start
        align-items center
        transition .2s $easeCustom2 .2s

        @media $small-wide-max
            padding 30px 0 60px
            -webkit-overflow-scrolling touch
            overflow-x scroll
            overflow-y hidden
            margin-bottom -10px

    &-item
        width 330px
        height 240px
        box-shadow 0 20px 20px rgba(#000, .1)
        text-align center
        position relative
        border-radius 2px
        overflow hidden
        background #2b3136
        z-index 2

        display flex
        flex-direction column
        justify-content center

        @media $small-wide-max
            width 260px
            height 280px

    &-number
        color #fff
        font-size 1.8rem
        margin 0 auto 24px
        transition color .3s
        font-family $font-dessert-script
        z-index 2

        .Nav-item:hover &
            color #fff

    &-title
        color #fff
        font-family $font-futura
        font-weight $extrabold
        font-size 2.2rem
        text-transform uppercase
        margin -20px auto 40px
        z-index 2
        position relative

        @media $small-wide-up
            font-size 3rem
            margin 0 auto 20px

    &-shape
        position absolute
        top 0
        left 0

    &-arrow
        width 40px
        height 40px
        line-height 40px
        background #fff
        border-radius 50%
        color $orange
        font-size 1rem
        margin 0 auto
        position absolute
        bottom 30px
        left 50%
        margin-left -20px
        transition transform .2s $easeCustom2 0s

        @media $small-wide-up
            transform translate3d(0, 100px, 0)

        .Nav-item:hover &
            transition transform .2s $easeCustom2 .2s
            transform translate3d(0, 0, 0)

        .icon
            display inline-block
            margin 1px 0 0 1px

    &-scrollbar
        position absolute
        background #3d444c
        height 1px
        width 180px
        text-transform none
        left 50%
        bottom 0
        transform translate3d(-50%, -10px, 0)

        @media $small-wide-up
            transform translate3d(-50%, 60px, 0)

        div
            width 50px
            top -1px
            background #fff
            position absolute
            bottom -1px