.Footer
    height auto
    display block
    width 100%
    position relative
    overflow hidden
    background $yellow

    &-bg
        top -20px
        position absolute
        left 50%
        transform translate3d(-50%, 0, 0)

        @media $xlarge-up
            top 13px

    &-inner
        position relative
        padding 0 20px 20px
        max-width 1240px
        margin 0 auto
        //display flex
        //flex-direction column-reverse

        @media $small-wide-up
            padding 0 20px 20px
            flex-direction row

        @media $xlarge-up
            padding 0 20px 20px

    hr
        border none
        border-bottom 1px solid #efcc22


    &-info
        display flex
        justify-content space-between
        align-items center
        color #b59912
        padding 20px 0 0
        flex-direction column
        font-size 1.3rem

        @media $medium-up
            flex-direction row
            padding 60px 0 50px

    &-logo
        margin 0 0 20px
        position relative

        @media $medium-up
            margin 0 -170px 0 0

        &:hover
            opacity 1

        img
            display block
            opacity .3

        & > span
            overflow hidden
            display block
            height 100%
            position absolute
            top 0
            width 100%
            transform translate3d(-110%, 0, 0)
            transition transform 0s .4s $easeCustom1, opacity .4s 0s
            backface-visibility hidden
            opacity 0

            &:before
                content ''
                transition inherit
                transform translate3d(110%, 0, 0)
                display block
                position absolute
                top 0
                left 0
                svg-bg('logo-rsts', 0, 1)
                backface-visibility hidden

        &:hover
            span
                transform translate3d(0, 0, 0)
                transition transform .4s 0s $easeCustom1, opacity 0s 0s
                opacity 1

                &:before
                    transform translate3d(0, 0, 0)

    &-author
        margin 20px 0 0
        position relative

        @media $medium-up
            margin 0

        &:hover
            opacity 1

        img
            display block
            opacity .3

        & > span
            overflow hidden
            display block
            height 100%
            position absolute
            top 0
            width 100%
            transform translate3d(-110%, 0, 0)
            transition transform 0s .4s $easeCustom1, opacity .4s 0s
            backface-visibility hidden
            opacity 0

            &:before
                content ''
                transition inherit
                transform translate3d(110%, 0, 0)
                display block
                position absolute
                top 0
                left 0
                svg-bg('logo-giant', 0, 1)
                backface-visibility hidden

        &:hover
            span
                transform translate3d(0, 0, 0)
                transition transform .4s 0s $easeCustom1, opacity 0s 0s
                opacity 1

                &:before
                    transform translate3d(0, 0, 0)

