.Gallery
    margin 50px -48px 0
    text-align center

    &-item
        display inline-block
        margin 3px
        vertical-align top
        transition .2s
        max-width calc(50% - 40px)

        @media $small-wide-up
            margin 11px
            max-width calc(25% - 40px)

        @media $xlarge-up
            max-width 1000px

        //&:hover
        //    box-shadow 0 10px 30px rgba(#000, .2)

        &:nth-child(1)
            //margin-top 40px

            @media $small-wide-up
                margin-top 40px

            @media $xlarge-up
                margin-top 100px

        &:nth-child(2)
            margin-top 20px

            @media $small-wide-up
                margin-top 80px

            @media $xlarge-up
                margin-top 200px

        &:nth-child(4)
            margin-top 20px

            @media $small-wide-up
                margin-top 60px

            @media $xlarge-up
                margin-top 160px

    img
        display block
        max-width 100%