.Graph
    display inline-block
    position relative

    .Graph-content
        position absolute
        bottom 0
        overflow hidden
        transition 1.4s $easeCustom2 .4s

        img
            display block
            position absolute
            left 0
            right 0
            bottom 0

    &--1
        .Graph-content
            bottom 19%
            left 14.3%
            width 85.86%
            height 0

            html.no-js &, section.has-displayed &
                height 79%

            img
                width 100%

    &--2
        .Graph-content
            bottom 15.4%
            left 17.2%
            height 84%
            width 0

            html.no-js &, section.has-displayed &
                width 81.4%

            img
                display block
                height 100%
                width auto
                max-width 2000px
                left 0
                right auto
                position relative

                @media $large-up
                    height 247px
                    width 632px