columns()
    for i in 1..12
        &-{i}
            width (i*100/12)%

gap($gap)
    @media $medium-up
        margin 0 0 0 -1*$gap

        [class^=Cell]
            padding 0 0 0 $gap

        &.Grid--reversed
            margin 0 -1*$gap 0 0

            [class^=Cell]
                padding 0 $gap 0 0

.Grid
    display flex
    flex-wrap wrap

    @media $small-wide-max
        //padding 0 0 40px

    // cells
    [class^=Cell]
        min-height 1px
        position relative
        width 100%

        @media $small-wide-max
            padding 0 0 20px

            &:last-child
                padding-bottom 0

    .Cell--sw
        @media $small-wide-up
            columns()

    .Cell--m
        @media $medium-up
            columns()

    .Cell--l
        @media $large-up
            columns()

    .Cell--xl
        @media $large-up
            columns()

    // gap
    &--gap
        $gaps = 10, 20, 40, 100

        &-10
            gap(10px)

        &-20
            gap(20px)

        &-40
            gap(40px)

        &-100
            gap(100px)

    // justify-content
    &--space-between
        justify-content space-between

    &--center
        justify-content center

    &--start
        justify-content flex-start

    &--end
        justify-content flex-end

    &--a-center
        align-items center

    &--a-end
        align-items flex-end

    &--reversed
        flex-direction row-reverse


    &-text
        @media $medium-up
            max-width 90%

        @media $large-up
            max-width 80%



    // custom

    .Cell--m-6
        img
            margin 0 0 0 0

        .Grid-text
            @media $small-wide-up
                margin 0 0 60px 20px

            @media $large-up
                margin 0 0 0 60px

            @media $xxlarge-up
                margin 0 0 0 40px

    .Cell--m-3
        @media $small-wide-max
            width 50%

    &.Grid--reversed
        .Cell--m-6
            .Image
                @media $xxlarge-up
                    margin 0 0 0 -20px

            .Grid-text
                @media $xxlarge-up
                    margin 0 0 0 60px

    //&--reversed
    //    .Grid-text
    //        @media $xxlarge-up
    //            margin 0 0 0 40px


    &--w
        &_740
            margin 0 auto
            max-width 740px


