.Header
    display block
    position absolute
    top 0
    left 0
    right 0
    height 0
    z-index 100

    @media $medium-up
        position fixed

    &-inner
        max-width 1920px
        padding 0 14px
        margin 20px auto 0

        @media screen and (min-width 21.875em)
            padding 0 20px

        @media $medium-up
            margin 40px auto 0
            padding 0 60px

    &-logo
        display inline-block
        svg-bg('logo-rsts', 1, 1)
        font-size 0
        margin 14px 0 0
        float left
        z-index 25
        position relative
        transition transform .4s $easeCustom1 .6s, opacity .6s $easeCustom1 .6s, width .4s $easeCustom1
        transform-origin 0 50%

        html.menu-is-opened &
            transition transform .6s $easeCustom1, opacity .4s $easeCustom1, width .4s $easeCustom1
            opacity 0
            transform scale(.8)

    &-burger
        float right
        z-index 75
        position relative

        @media $small-wide-max
            position fixed
            right 20px

    .Magnetic-content
        &:before
            content ''
            display block
            position absolute
            width calc(100% + 4px)
            left -2px
            background $black
            height 30px
            border-radius 14px
            top 50%
            margin-top -15px
            animation rotation .8s linear infinite
            opacity 0
            transition opacity .2s

            @media $small-wide-up
                border-radius 12px

            html.is-changing &
                opacity 1

        //.Page-homepage &
        //    &:after
        //        background $black

@keyframes rotation
    0%
        transform rotate(0deg)

    100%
        transform rotate(360deg)