.Hero
    color #fff
    //overflow-x hidden
    width 100%
    position relative

    @media $medium-up
        min-height 650px

    &--taller
        .Hero-inner
            padding 100px 0 80px

            @media $small-wide-up
                padding 100px 0 160px

            @media $medium-up
                padding 150px 0 220px

            @media $large-up
                padding 190px 0 310px

    .Category--statistika &
        margin 0 auto 40px

        @media $medium-up
            margin 0 auto 20px

    &-bg
        display block
        position absolute
        top 0
        right 0
        left 0
        clearfix()

        @media $small-wide-up
            top -200px

        @media $medium-up
            top 0

        @media screen and (min-width 120em)
            margin-left 260px

        svg
            margin -150px 0 0 -170px
            //float right

            @media $small-wide-up
                float none
                margin -180px 0 0 -240px

            @media $large-up
                margin 0

    &-inner
        width 100%
        padding 100px 0 80px
        margin 0 auto
        max-width 1180px
        position relative
        display flex
        flex-direction column-reverse

        @media $small-wide-up
            padding 100px 0 160px
            display flex
            align-items center
            flex-direction row

        @media $medium-up
            padding 150px 0 120px

        @media $large-up
            padding 190px 0 120px

    &-column
        width 100%
        padding 0 20px

        @media $small-wide-up
            padding 0
            width 50%

        &:nth-child(1)
            text-align right
            margin 20px 0 0 0

            @media $small-wide-up
                padding-left 20px
                text-align right
                margin 0 60px 0 0

        &:nth-child(2)
            text-align left
            margin 20px 0 0 0

            @media $small-wide-up
                margin 0 20px 0 0

            @media $large-up
                margin 0 0 0 20px

            @media $xlarge-up
                margin 0 0 0 60px

    &-img
        display inline-block
        //box-shadow 0 20px 20px rgba(#000, .2)
        position relative
        max-width 70%
        margin -10px auto 10px
        background #eee
        width 331px
        opacity 0
        animation hero-fade-in .4s forwards .2s

        @media $small-wide-up
            width 200px
            margin 0 auto
            max-width 1000px

        @media $medium-up
            width 331px

        img
            display block
            max-width 100%
            position relative
            z-index 2
            background #eee

            @media $small-wide-max
                height auto

        &:after
            content ''
            position absolute
            box-shadow 0 0 40px 50px rgba(#000, .2)
            display block
            left 90px
            right 90px
            top 60px
            bottom 20px
            max-width calc(100% - 180px)
            z-index 1

    &-motto
        font-family $font-dessert-script
        font-size 3rem
        line-height 1
        color #fff
        position absolute
        bottom -30px
        right 10px
        transform rotate(-10deg)
        max-width 100%
        z-index 2

        @media $medium-up
            white-space nowrap
            bottom -40px
            right -80px
            font-size 5rem

        .Category--statistika &
            bottom -80px

            @media $medium-up
                bottom -100px

    h1
        font-size 3rem
        font-family $font-futura
        font-weight $extrabold
        margin 0 0 10px
        line-height 1.1
        text-transform uppercase
        //max-width 55%

        @media $small-wide-up
            margin 0 auto 20px
            font-size 3.8rem
            max-width 100%

        @media $medium-up
            font-size 5rem

    p
        font-size 1.8rem
        line-height 1.5
        color #fff
        font-family $font-ptserif

        @media $small-wide-up
            font-size 1.8rem

        @media $medium-up
            font-size 2.2rem

        @media $large-up
            font-size 2.8rem

    &-mobile
        display block

        @media $small-wide-up
            display none

    &-desktop
        display none

        @media $small-wide-up
            display block

        @media $xlarge-up
            opacity 0

            html.no-js &
                opacity 1

    &-horses
        mix-blend-mode overlay

        html.no-backgroundblendmode &
            opacity .2

    &--center
        text-align center

    &--404
        @media $medium-up
            min-height 480px

        .Hero-inner
            flex-direction column
            padding 200px 0 120px

            @media $small-wide-up
                padding 80px 0 120px

            @media $medium-up
                padding 180px 0 120px

            @media $large-up
                padding 380px 0 120px

        .Hero-bg
            @media $small-wide-only
                top -280px

        a
            color $yellow



@keyframes hero-fade-in
    0%
        opacity 0

    100%
        opacity 1