.Image
    display block
    position relative
    transition transform .8s $easeOutBack .2s, opacity .8s $easeOutBack .2s, filter .8s $easeOutBack .2s
    margin 0 auto

    &:not(.Image--graph)
        transform translate3d(0, 50px, 0)
        opacity 0
        //filter blur(20px)

    html.no-js &:not(.Image--graph), section.has-displayed &:not(.Image--graph)
        transform translate3d(0, 0, 0)
        opacity 1
        filter blur(0)

    img
        position relative
        pointer-events none

        @media $large-max
            max-width 100%
            height auto

        a &
            pointer-events auto

    &--right
        //float right
        //margin-right 10px
        right 10px

        @media $xxlarge-up
            margin-right 50px
            right 50px

        img
            float right

    &-badge
        position absolute
        top -40px
        right -46px

    &-description
        text-align center
        color $grey
        margin 20px auto 0
        padding 0 20px

    &--inline
        display inline-block

    &--video
        cursor pointer

        &:active
            transform scale(0.96, 0.96) !important

        &:after
            content $icon-play
            icon()
            display inline-block
            width 100px
            height 100px
            background #ffd524
            border-radius 50%
            color #fff
            position absolute
            text-align center
            line-height 100px
            top 50%
            left 50%
            transform translate(-50%, -50%)
            transition opacity 0s .2s

        img
            transition opacity 0s .2s
            pointer-events none

        &.is-played
            animation video .6s
            will-change transform, opacity

            &:active
                transform scale(1, 1) !important

            img
                opacity 0

            .Image-iframe
                opacity 1

            &:after
                opacity 0

    &-iframe
        width 100%
        height 100%
        position absolute
        z-index 2
        top 0
        left 0
        background #000
        text-align center
        opacity 0
        transition opacity 0s .2s

        iframe
            width 100%
            height 100%

    &--shadow
        img
            box-shadow 0 10px 40px rgba(#000, .1)

    &--center
        text-align center

        img
            margin 0 auto
            display block

@keyframes video
    0%
        transform scale(1, 1)

    50%
        transform scale(1.1, 1.1)
        filter blur(10px)

    100%
        transform scale(1, 1)