.Info
    display inline-block
    font-size 3rem
    font-family $font-futura
    font-weight $extrabold
    margin 0 20px 20px 0
    text-transform uppercase

    @media $large-up
        font-size 4rem

    @media $xlarge-up
        font-size 5rem
        margin 0 40px 20px 0

    &-description
        color $grey
        font-size 1.4rem
        font-weight 400
        font-family $font-base
        text-align center
        display block
        line-height 1.7
        text-transform none

        @media $large-up
            font-size 1.7rem

    &--middle
        img
            display inline-block
            vertical-align middle

    &--corrected
        img
            margin-top -10px

    &--smaller
        font-size 2.6rem
        max-width 310px
        margin 0 auto 10px
        display block
        text-align center
        padding 0 10px

        @media $small-wide-up
            margin 0 auto 80px

        @media $large-up
            padding 0
            font-size 4rem

        @media $xlarge-up
            margin 0 auto 80px
            font-size 4rem

        img
            display inline-block
            margin 0 10px 0 0

        .Info-description
            margin 10px auto 20px

    img
        max-width 50px
        max-height 40px

        @media $medium-max
            max-height auto
            max-width auto

        @media $large-up
            width auto

.InfoGroup
    margin-bottom -60px