.Input
    display inline-block
    font-size 1.3rem

    input
        color $black
        border 1px solid #dfe1e4
        padding 20px 22px
        outline none
        font-weight $bold
        border-radius 2px

        &::placeholder
            color $grey