.Logo
    margin 50px auto 0
    cursor move

    &-holder
        outline none

    &-item
        display inline-block
        width 320px
        padding 0 30px

    &-img
        min-height 160px
        display block
        display flex
        align-items center
        justify-content center

    &-arrows
        width 100%
        position relative
        z-index 20
        margin -10px 0 20px

        @media $large-up
            margin 30px 0 0

    &-arrow
        appearance none
        border none
        background #6ce174
        width 45px
        height 45px
        border-radius 50%
        font-size 0
        text-align center
        box-shadow $boxShadow2
        outline none
        margin 0 10px

        &:before
            icon()
            display block
            color #fff
            font-size 1rem

        &--left
            &:before
                content $icon-arrow-left

        &--right
            &:before
                content $icon-arrow-right

    p
        font-size 1.5rem
        line-height 1.8