.Logos
    display block
    text-align center
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    max-width 1000px
    margin 20px auto 0

    @media $small-wide-up
        margin 0 auto
        justify-content space-between

    @media $large-up
        flex-wrap nowrap

    &-item
        margin 0 0 20px
        width 48%
        padding 0 5px

        @media $small-wide-up
            width auto
            padding 0
            margin 0 20px 20px

        @media $large-up
            margin 0

    img
        height auto

        @media $small-max
            max-width 100%