.Magnetic
    position relative
    display inline-block

    &-area
        position absolute
        left -80px
        right -80px
        top -80px
        bottom -80px
        z-index 10
        cursor pointer
        border-radius 8px

        @media $large-max
            pointer-events none

    &-content
        position relative

    &--radial
        .Magnetic-area
            border-radius 50%
