.Main
    display block
    min-height 1000px
    overflow hidden
    width 100%
    padding-bottom 40px
    margin-bottom -40px

    .Page--homepage
        padding-bottom 0
        margin-bottom 0


