.MaskotImage
    display flex
    align-items flex-end
    margin 0 auto

    @media $small-wide-up
        min-height 500px

    @media $large-up
        min-height 490px
        margin 40px auto 0
        align-items center

    img
        margin 0 auto
        display block

        @media $medium-max
            max-width 100%
            height auto