.Nav
    display block
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 50
    transition transform 0s .8s
    transform translate(-9999px, -9999px)

    html.menu-is-opened &
        transition transform 0s 0s
        transform translate(0, 0)

    &-background
        width 100%
        height 100%
        position absolute
        top 0
        left 0

        &:before, &:after
            content ''
            display block
            background linear-gradient(to bottom, #20252a, #2e343b)
            height 100%
            width 50%
            position absolute
            transition $easeCustom2 .8s
            transform translate3d(0, -100%, 0)

        html.menu-is-opened &
            &:before, &:after
                transform translate3d(0, 0, 0)

        &:before
            left 0

        &:after
            right 0
            transition-delay .05s

    &-inner
        position relative
        height 100%
        padding 0 40px
        display flex
        justify-content center
        align-items center

        @media $small-wide-max
            padding 20px 0


    &-holder
        position relative
        width 100%

        @media $small-wide-max
            overflow hidden

    ol
        reset-list()
        display flex

    li
        display inline-block
        margin 0 10px

    h2
        position absolute
        font-family $font-ptserif
        color #fff
        font-size 2.8rem
        text-transform none
        left 50%
        top 0
        transform translate3d(-50%, -20px, 0)

        transition .2s $easeCustom2 .2s
        opacity 0

        @media $small-wide-up
            transform translate3d(-50%, -170px, 0)

        html.menu-is-opened &
            transition .4s $easeCustom2 .4s
            opacity 1

        &:after
            display none

    a
        text-decoration none

    &-menu
        display flex
        justify-content flex-start
        align-items center
        transform scale(.6)
        transition .2s $easeCustom2 .2s
        opacity 0

        @media $small-wide-max
            padding 100px 0 60px
            -webkit-overflow-scrolling touch
            overflow-x scroll
            overflow-y hidden
            margin-bottom -10px

        html.menu-is-opened &
            transition .4s $easeCustom2 .4s
            transform scale(1)
            opacity 1

    &-item
        width 330px
        height 375px
        box-shadow 0 20px 20px rgba(#000, .1)
        text-align center
        position relative
        border-radius 2px
        overflow hidden
        background #2b3136
        z-index 2

        display flex
        flex-direction column
        justify-content center

        @media $small-wide-max
            width 260px
            height 240px

        @media $small-max
            height 280px

    &-number
        color #fff
        font-size 1.8rem
        margin 0 auto 24px
        transition color .3s
        font-family $font-dessert-script
        z-index 2

        .Nav-item:hover &
            color #fff

    &-title
        color #fff
        font-family $font-futura
        font-weight $extrabold
        font-size 2.2rem
        text-transform uppercase
        margin 0 auto 50px
        z-index 2
        position relative

        @media $small-wide-up
            font-size 3rem

    &-shape
        position absolute
        top 0
        left 0

        @media $small-wide-max
            top 0

        @media $small-max
            top 0

    &-arrow
        width 40px
        height 40px
        line-height 40px
        background #fff
        border-radius 50%
        color $orange
        font-size 1rem
        margin 0 auto
        position absolute
        bottom 30px
        left 50%
        margin-left -20px
        transition transform .2s $easeCustom2 0s

        @media $small-wide-up
            transform translate3d(0, 100px, 0)

        .Nav-item:hover &
            @media $large-up
                transition transform .2s $easeCustom2 .2s
                transform translate3d(0, 0, 0)

        .icon
            display inline-block
            margin 1px 0 0 1px

    &-scrollbar
        position absolute
        background #3d444c
        height 1px
        width 180px
        text-transform none
        left 50%
        bottom 0
        transform translate3d(-50%, -10px, 0)

        transition .2s $easeCustom2 .2s
        opacity 0

        @media $small-wide-up
            transform translate3d(-50%, 160px, 0)

        html.menu-is-opened &
            transition .4s $easeCustom2 .4s
            opacity 1

        div
            width 50px
            top -1px
            background #fff
            position absolute
            bottom -1px