.Page
    &-homepage
        width 100%

        .Burger
            &:after
                border-color #1e212a
                background #1e212a

            &-closed
                span:after
                    background #fff

        .swup
            height 100%
            width 100%

        main
            width 100%
            display block
            overflow hidden

        .FooterNav, .Footer
            display none

    &-404
        .Main
            min-height 680px

            @media $small-wide-up
                min-height 400px

            @media $medium-up
                min-height 750px

            @media $large-up
                min-height 940px

        .Header-logo
            @media $medium-max
                width 30px
                //background-position 0 -1px