.Print
    display block
    display flex
    justify-content center
    flex-wrap wrap
    align-items flex-start

    //@media $large-up
    //    flex-wrap nowrap

    @media $small-wide-up
        margin-top 70px
        justify-content center

    @media $large-up
        justify-content space-between

    &-item
        display -moz-inline-stack
        display inline-block
        margin 0 14px 40px
        box-shadow 0 10px 40px rgba(#000, .1)
        width auto

        @media $small-max
            max-width 40%

        @media $large-up
            margin 0 10px 75px

        img
            max-width 100%
            display block

    &-row
        display flex
        justify-content space-between

        @media $small-wide-up
            display flex
            justify-content space-between
            width 100%
            align-items flex-start
            flex-wrap nowrap

        &:last-child
            .Print-item
                @media $medium-up
                    margin 0 4px 40px

                @media $large-up
                    margin 0 5px

                img
                    @media $small-max
                        height 70px

    &--magazines
        @media $medium-only
            margin-left 20px

        @media $large-up
            margin-left -10px

        .Print-item
            @media $small-max
                max-height 80px
                margin 0 4px 20px

                img
                    height 80px

            @media $medium-max
                max-height 100px

                img
                    //max-width 100%
                    height 134px
                    max-height 100%
                    width auto

            @media $large-up
                margin 0 9px 75px
