.Question
    text-align center

    .Headline
        margin 0 auto 60px

    &-container
        max-width 720px
        background $lightgrey
        padding 40px 40px
        margin -20px auto 30px
        font-size 1.8rem
        font-family $font-ptserif
        color $black
        position relative
        border-radius 2px
        line-height 1.4

        @media $small-wide-up
            margin 0 auto 50px
            font-size 2rem

        &:before
            content ''
            triangle(14px, 14px, 'bottomLeft', $lightgrey)
            position absolute
            left 26%
            top -14px

    &-button
        background #fff
        appearance none
        border none
        font-size 1.5rem
        font-family $font-base
        font-weight $bold
        margin 0 10px 20px
        padding 2px 10px
        line-height 24px
        outline none
        min-width 125px
        text-align left

        @media $medium-up
            padding 10px

        &:focus
            &:before
                border-color $black

        &:before
            content ''
            display inline-block
            margin -2px 10px 0 0
            border 1px solid #d2d6db
            border-radius 50%
            width 24px
            height 24px
            vertical-align middle

        &:after
            content ''
            display block
            width 12px
            height 12px
            border-radius 50%
            background #fff
            position absolute
            top 8px
            left 27px
            transition background .3s

            @media $medium-up
                top 16px

    &-holder
        display inline-block
        position relative

    &-tag
        transform-origin 10% 0
        animation question .3s forwards
        display block
        position absolute
        left 50%
        transform translateX(-50%)
        text-align center
        top 40px
        line-height 48px
        font-weight 700
        font-size 1.5rem
        color #fff
        width 120px
        border-radius 3px
        opacity 0

        @media $medium-up
            top 54px

.Question
    &-tag
        z-index 2

        &--correct
            background #67d56c

            &:before
                content ''
                triangle(7px, 7px, 'bottomLeft', #67d56c)
                position absolute
                top -7px
                left 20px

            & + .Question-button:after
                background #67d56c


        &--wrong
            @media $small-max
                visibility hidden

            display block
            background #f15573

            &:before
                content ''
                triangle(7px, 7px, 'bottomLeft', #f15573)
                position absolute
                top -7px
                left 20px

            & + .Question-button:after
                background #f15573

@keyframes question
    0%
        opacity 0
        transform translate3d(-50%, -40%, 0)

    100%
        opacity 1
        transform translate3d(-50%, 0, 0)
