.Sales
    display block
    text-align center
    align-items flex-end
    padding 0 50px
    margin 20px auto 0

    @media $medium-up
        margin 60px auto 0

    &-row
        display flex
        justify-content space-between
        font-family $font-futura
        font-weight $extrabold
        color $black
        text-transform uppercase
        font-size 3.6rem
        flex-direction column

        @media $small-wide-up
            flex-direction row

        @media $large-up
            font-size 7rem

        small
            display block
            font-size 2rem
            color #666f7b

            @media $large-up
                font-size 3rem

    &-item
        &:nth-child(1), &:nth-child(3)
            margin 10px 0
            @media $small-wide-up
                margin 35px 0 -35px

    &-img
        margin-top 30px
        display none

        @media $small-wide-up
            display block