.Screen
    color #fff
    //overflow-x hidden
    width 100%
    height 100%
    position relative

    &-bg
        display none
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        padding 30px
        justify-content center
        align-items center

        svg
            width 100%
            max-height 100%

            //height 100%

        html.no-js &
            display flex

    &-inner
        width 100%
        //padding 190px 0 120px
        margin 0 auto
        max-width 920px
        position relative
        height 100%
        height 100vh

        display flex
        align-items center
        justify-content center
        flex-direction column


        @media $small-wide-up
            max-width 500px
            justify-content flex-end
            flex-direction row

        @media $medium-up
            max-width 920px

    &-column
        width 100%

        @media $small-wide-up
            position relative
            width 50%

        &:nth-child(1)
            text-align center
            z-index 2
            margin 0
            padding 0 30px

            @media $small-wide-up
                padding 0
                margin 0
                text-align left
                left 100px

            @media $medium-up
                left 180px

        &:nth-child(2)
            //margin -200px 20px 0 -60px
            text-align left
            z-index 1
            margin 0 auto
            max-width 70%

            @media $small-wide-up
                max-width auto
                margin 0 0 0 60px
                left -40px

    &-img
        display inline-block
        //box-shadow 0 20px 20px rgba(#000, .2)
        position relative

        &:hover
            img
                @media $small-wide-max
                    animation screen-img .4s $easeOutBack

        img
            display block
            max-width 100%
            position relative
            z-index 2
            background #eee

        &:after
            content $icon-arrow-right
            icon()
            width 46px
            height 46px
            border-radius 50%
            background #fff
            position absolute
            text-align center
            line-height 46px
            left 50%
            bottom -23px
            font-size 1rem
            z-index 4
            padding 0 0 0 2px
            margin-left -23px
            box-sizing border-box
            animation screen-arrow 4s $easeOutBack infinite

            @media $medium-up
                margin-left 0
                left -23px
                bottom 66px

    &-motto
        font-family $font-dessert-script
        font-size 2.8rem
        line-height 1
        color #fff
        position absolute
        bottom 40px
        right -10px
        transform rotate(-10deg)
        white-space nowrap
        text-align right
        z-index 3

        @media $small-wide-max
            display none

        @media $small-wide-up
            bottom -40px
            right -80px
            font-size 5rem

        .Screen--statistika &
            @media $small-wide-up
                bottom -80px

        .Screen--pomahame-spolecne &
            @media $small-wide-up
                right -20px

    &-logo
        bottom 30px
        right 35px
        width 84px
        transform translate3d(0, 120px, 0) scale(.6)
        position fixed
        opacity 0
        transition .4s $easeCustom2
        display none

        @media $xxlarge-up
            right 55px
            bottom 50px

        @media screen and (min-height 46.875em)
            display block

        @media $small-max
            display none

        .Slideshow.is-scrolled &
            transform translate3d(0, 0, 0) scale(1)
            opacity 11

    &-shadow
        position absolute
        box-shadow 0 0 40px 50px rgba(#000, .15)
        display block
        left 90px
        right 90px
        top 60px
        bottom 20px
        max-width calc(100% - 180px)

    h1
        font-size 3.2rem
        font-family $font-futura
        font-weight $extrabold
        margin 0 auto 20px
        line-height 1.2
        text-transform uppercase
        color $black
        backface-visibility hidden
        z-index 3
        position relative

        @media $small-wide-up
            color #fff
            line-height 1.4

        @media $medium-up
            font-size 5rem

    p
        font-size 2rem
        line-height 1.5
        color #fff
        font-family $font-ptserif
        max-width 440px
        margin 0 0 40px

        @media $small-wide-max
            display none

    a
        text-decoration none

    &:nth-child(even)
        .Screen-inner
            @media $small-wide-up
                transform translate3d(-80px, 0, 0)

            @media $medium-up
                transform translate3d(-150px, 0, 0)

    &--main
        @media $small-wide-up
            padding 0 20px

        @media $medium-up
            padding 0 100px

        .Screen-inner
            max-width 1200px
            justify-content center

        h1
            font-size 3.2rem
            line-height 1.2
            color $black
            margin 0 auto

            @media screen and (min-width 23.125em)
                font-size 4.2rem
                margin 0 auto 20px

            @media $small-wide-up
                font-size 3.8rem
                color $black

            @media $medium-up
                font-size 6rem

            @media $xlarge-up
                max-height 168px

            @media $xxlarge-up
                max-height 196px
                font-size 7rem

            @media screen and (max-height 20.625em)
                font-size 3rem

        p
            @media $xlarge-up
                height 90px

        h1, p
            color $black

        .Screen-column:nth-child(1)
            left 0

            @media $small-max
                margin-top -30px

            @media $small-wide-max
                margin-top 10px

            //@media screen and (min-width 23.125em)
            //    margin-top -40px

        .Screen-column:nth-child(2)
            @media $small-max
                max-width 100%
                margin 0 auto
                padding 0 30px

        p
            position relative
            //padding-left 40px

            //&:before
            //    content $icon-quote
            //    icon()
            //    color #dfe1e4
            //    position absolute
            //    left 0
            //    top 4px

        a
            display inline-block

            .icon
                color #fff
                width 46px
                height 46px
                border-radius 50%
                background $black
                display inline-block
                line-height 48px
                text-align center
                font-size .6rem
                margin 0 18px 0 0

            @media $small-max
                position absolute
                bottom 80px
                left 50%
                margin-left -70px

                @media screen and (min-width 23.125em)
                    bottom 90px

                @media screen and (min-height 38.75em)
                    bottom 140px

            @media screen and (max-height 20.625em)
                display none

        img
            max-width 100%
            pointer-events none

            @media $small-wide-up
                float right
                margin-right -60px
                max-width 160%

    &--online-svet
        .Screen-img:after
            color $orange

    &--pobockova-sit
        .Screen-img:after
            color #70cfe3

    &--co-se-nam-povedlo
        .Screen-img:after
            color #ffa043

    &--historie
        .Screen-img:after
            color #ffbc48

    &--pod-jednou-strechou
        .Screen-img:after
            color #ffbc48

    &--pomahame-spolecne
        .Screen-img:after
            color #ff2b72

    &--poznejte-jaci-jsme
        .Screen-img:after
            color #6ce174

    &--technologie-nas-bavi
        .Screen-img:after
            color #b0db58

    &--ze-zakulisi
        .Screen-img:after
            color #bb79ff

    &--statistika
        .Screen-img:after
            color #e76fcc

@keyframes screen-img
    0%, 100%
        transform scale(1)

    50%
        transform scale(1.03)

    80%
        transform scale(.98)

@keyframes screen-arrow
    0%, 15%, 100%
        transform scale(1)

    8%
        transform scale(1.1)

    12%
        transform scale(.9)