.Section
    display block
    margin 0 auto 60px
    position relative

    @media $small-max
        &:last-child
            margin-bottom 0

    @media $small-wide-up
        margin 0 auto 60px

    @media $large-up
        margin 0 auto 100px

    &-inner
        margin 0 auto
        max-width 1240px
        clerfix()
        padding 0 20px
        position relative

    &-bg
        position absolute

    &--grey_1
        //.Section-bg
        //    top 50%
        //    transform translate3d(0, -45%, 0)
        //
        //    @media $small-wide-up
        //        top 50%
        //        transform translate3d(0, -50%, 0)
        //
        //    @media $medium-only
        //        transform-origin 0 50%
        //        transform translate3d(0, -50%, 0) scale(.8)

        &:before
            content ''
            position absolute
            svg-bg('section-grey-1', 0, 1)

            top 50%
            transform-origin 0 50%
            transform translate3d(0, -49%, 0) scale(.9)

            @media $small-wide-up
                top 50%
                transform translate3d(0, -52%, 0)

            @media $medium-only
                transform-origin 0 50%
                transform translate3d(0, -50%, 0) scale(.8)

    &--grey_2
        .Section-bg
            margin-top 20px
            top 50%
            left 50%
            transform translate3d(-50%, -51%, 0) scale(.65)

            @media $small-wide-up
                transform translate3d(-50%, -50%, 0)

            @media $medium-only
                transform translate3d(-50%, -52%, 0) scale(.7)

    &--grey_3
        .Section-bg
            top 0

            @media $medium-max
                transform scale(.8)
                transform-origin 0 50%
                top -100px

    &--grey_4
        .Section-bg
            svg-bg('section-grey-4', 0, 1)
            top 50%
            left 50%
            transform translate3d(-50%, -50%, 0) scale(.35)

            @media $medium-up
                transform translate3d(-50%, -50%, 0) scale(.45)

            @media $large-up
                transform translate3d(-50%, -50%, 0) scale(1)

    &--border_top
        .Section-inner
            padding-top 60px
            border-top 2px solid #f1f1f0

            @media $small-wide-up
                padding-top 80px

            @media $large-up
                padding-top 100px

    &--border_bottom
        .Section-inner
            padding-bottom 60px
            border-bottom 2px solid #f1f1f0

            @media $small-wide-up
                padding-top 80px

            @media $large-up
                padding-bottom 100px

    &--prepend
        margin-bottom 0

        @media $small-wide-up
            margin-bottom 0

        @media $large-up
            margin-bottom 0

    &--extraSpace
        @media $small-wide-up
            margin 0 auto 120px

        @media $large-up
            margin 0 auto 260px

        &_small
            @media $small-wide-up
                margin 0 auto 80px

            @media $large-up
                margin 0 auto 150px

        &_medium
            @media $small-wide-up
                margin 0 auto 120px

            @media $large-up
                margin 0 auto 200px


    // custom
    &--shops
        .Cell--m-3, .Cell--m-4, .Cell--m-5
            padding 0 20px

            @media $xlarge-up
                padding 0

        .Cell--m-4, .Cell--m-5
            @media $medium-max
                width 50%

            @media $small-max
                width 100%

        .Cell--m-3
            @media $medium-max
                display none
