.Slideshow
    height 100%
    width 100%

    &-bg
        display block
        position fixed
        top 0
        right -60px
        left -60px
        height 660px
        display flex
        justify-content center
        align-items center
        bottom 0

        @media $small-max
            top auto
            right -160px
            left -160px
            height 360px
            display flex
            justify-content center
            align-items center
            bottom -260px
            transform scale(1.8)

        @media $small-wide-up
            height auto
            right 0
            left 0
            top -120px
            bottom -120px

        @media screeb and (min-width 85.25em)
            right -60px
            left -60px

        @media screen and (min-width 92.5em)
            right -60px
            left -60px
            top 0
            bottom 0

        svg
            width 100%
            height 120%
            position relative
            opacity 0

            html.is-ready &
                animation slideshow-bg 1s .4s $easeCustom1 forwards

        canvas
            width 100%
            opacity 0

            html.is-ready &
                animation slideshow-bg 1s .4s $easeCustom1 forwards

        html.no-js &
            display none

    &-nav
        display none

        @media $medium-up
            z-index 20
            display block
            position fixed
            top 50%
            right 30px
            transform translate3d(0, -50%, 0)
            text-align right

        @media $xxlarge-up
            right 60px

        ul
            reset-list()

        li
            margin 10px 0

        a
            font-family $font-futura
            color rgba($black, .5)
            font-weight $medium
            text-transform uppercase
            text-decoration none
            line-height 30px
            font-size 1.3rem

    &-navItem
        transition 1s $easeCustom1
        transform translate3d(200px, 0, 0)

        .Slideshow.is-scrolled &
            transform translate3d(0, 0, 0)

        for i in 1..11
            &:nth-child({i})
                transition-delay i*.03s

        a
            transition 1s $easeCustom1

            &:after
                content ''
                height 3px
                width 0
                display inline-block
                margin -4px 0 0 10px
                vertical-align middle
                transition inherit
                background $lightgrey

        a:hover
            color $black

        a.is-active
            color $black

            &:after
                width 30px

        &--online-svet .is-active
            &:after
                background $orange

        &--pobockova-sit .is-active
            &:after
                background #70cfe3

        &--co-se-nam-povedlo .is-active
            &:after
                background #ffa043

        &--historie .is-active
            &:after
                background #ffbc48

        &--pod-jednou-strechou .is-active
            &:after
                background #FFDB2E

        &--pomahame-spolecne .is-active
            &:after
                background #ff2b72

        &--poznejte-jaci-jsme .is-active
            &:after
                background #6ce174

        &--technologie-nas-bavi .is-active
            &:after
                background #b0db58

        &--ze-zakulisi .is-active
            &:after
                background #bb79ff

        &--statistika .is-active
            &:after
                background #e76fcc

    &-num
        display block
        position fixed
        bottom 10px
        right 6px
        text-align right
        font-size 1.2rem
        color rgba($black, .5)
        z-index 20

        @media $medium-up
            left 30px
            bottom auto
            right auto
            top 50%
            transform translate3d(0, -50%, 0)

        @media $xxlarge-up
            left 60px

        transition 1s $easeCustom1
        transform translate3d(100px, 0, 0)

        @media $medium-up
            transform translate3d(-200px, 0, 0)


        .Slideshow.is-scrolled &
            transform translate3d(0, 0, 0)

    &-numActive, &-numTotal
        display block
        width 40px
        text-align center
        line-height 30px
        height 30px

        @media $medium-up
            height 40px
            line-height 40px

    &-numActive
        white-space nowrap
        color $black
        overflow hidden
        font-size 0

        span
            display inline-block
            width 40px
            margin 0 auto
            font-size 1.2rem

    &-numTotal
        border-top 1px solid rgba($black, .5)

@keyframes slideshow-bg
    0%
        transform scale(0.6)
        opacity 0

    100%
        transform scale(1)
        opacity 1


