.Socials
    display block
    max-width 740px
    margin 0 auto
    padding 30px 0 20px

    @media $small-wide-up
        justify-content space-between
        display flex

    @media $xlarge-up
        padding 80px 0 70px

    h2
        font-size 2.4rem
        display block
        text-align center
        margin 14px 0

        @media $small-wide-up
            display inline-block
            text-align left

        &:after
            display none

    ul
        reset-list()
        display block
        margin 10px auto 0
        text-align center

        @media $small-wide-up
            display inline-block
            margin 0

        li
            font-size 0
            margin 0 10px
            display inline-block

        a
            display inline-block
            width 50px
            height 50px
            line-height 50px
            text-align center
            border-radius 50%

            &:before
                icon()
                font-size 1.5rem
                color #fff
                display inline-block
                vertical-align middle

    &-item
        &--facebook
            background #426cbd

            &:before
                content $icon-facebook

        &--instagram
            background linear-gradient(50deg, #d00c6d, #ff9227 84%, #ffe349)

            &:before
                content $icon-instagram

        &--svetbydleni
            background #ffe402
            border 1px solid #f0cd23

            &:before
                content $icon-svet-bydleni
                color $black !important
                font-size 2.2rem !important
