.Timeline
    display block
    text-align left
    position relative
    clearfix()
    margin 50px auto 0
    padding 0 0 0 40px

    @media $small-wide-up
        padding 0

    p
        font-size 1.5rem

        @media $large-up
            font-size 1.7rem

    &:before
        content ''
        left 0
        display block
        margin-left -1px
        width 2px
        top 0
        bottom 0
        position absolute
        background #ebeef1

        @media $small-wide-up
            bottom 340px
            left 50%

    &:after
        @media $small-wide-up
            text-transform uppercase
            color #ebeef1
            font-size 2.4rem
            content '2012'
            font-family $font-futura
            font-weight $extrabold
            position absolute
            display inline-block
            padding 5px 10px
            z-index 10
            background #fff
            top 20px
            left 50%
            transform translateX(-50%)

    &-item
        width 100%
        position relative
        margin-bottom 60px
        padding 1px 0 0

        @media $small-wide-up
            padding 0
            margin-bottom 180px
            width 50%

        &:nth-child(odd)
            @media $small-wide-up
                float left
                clear left
                padding-right 70px

            @media $large-up
                padding-right 120px

        &:nth-child(even)
            @media $small-wide-up
                float right
                clear right
                padding-left 70px

            @media $large-up
                padding-left 120px

        &[data-year="2015"]
            &:before
                top -110px
                right 0
                transform translateX(50%)

        &[data-year="2016"]
            &:before
                top 160px
                left 0
                transform translateX(-50%)

        &:nth-child(1)
            margin-top 60px

        &:nth-child(2)
            margin-top 260px

        &[data-year]
            &:before
                @media $small-wide-up
                    text-transform uppercase
                    color #ebeef1
                    font-size 2.4rem
                    content attr(data-year)
                    font-family $font-futura
                    font-weight $extrabold
                    position absolute
                    display inline-block
                    padding 5px 10px
                    z-index 10
                    background #fff

        &:after
            content $icon-circle
            icon()
            display block
            position absolute
            border-radius 50%
            width 29px
            height 29px
            font-size 1.2rem
            border 2px solid #ebeef1
            text-align center
            line-height 29px
            color #ffbc48
            padding 1px 1px 0 0
            top 24px
            background #fff

        &:nth-child(odd)
            &:after
                transform translateX(-50%)
                left -40px

                @media $small-wide-up
                    right 0
                    left auto
                    transform translateX(50%)

            h3:before
                left -40px

                @media $small-wide-up
                    right 0
                    left auto

        &:nth-child(even)
            &:after
                left -40px
                transform translateX(-50%)

                @media $small-wide-up
                    left 0
                    transform translateX(-50%)

            h3:before
                left -40px

                @media $small-wide-up
                    left 0

        &--2013.Timeline-item
            p img
                margin-top 0

        &--2014
            padding-right 20px

            @media $large-up
                padding-right 100px

        &--2017
            @media $small-wide-up
                margin-bottom 140px

            &:after
                @media $small-wide-up
                    top 120px

            h3:before
                @media $small-wide-up
                    top 136px !important

        &--now:last-child
            float none !important
            margin 0 auto
            clear both !important
            text-align center
            padding-right 0
            padding-left 0 !important

            &:after
                @media $small-wide-up
                    display none

            &:before
                left 50%
                transform translateX(-50%)
                top -160px

            h3
                @media $small-max
                    text-align left

                &:after
                    @media $small-wide-up
                        margin 20px auto

                &:before
                    @media $small-wide-up
                        display none

            p
                @media $small-max
                    text-align left

    h3
        &:after
            background $orange
            height 2px
            width 46px
            display block
            content ''
            margin 20px 0

        &:before
            content ''
            height 2px
            width 30px
            background #ebeef1
            display block
            position absolute
            top 40px

    p
        img
            margin 10px 10px 0 0
            float left

    &-img
        position absolute
        top -220px
        right 0
        z-index -1
        width 180px

        @media $large-up
            width auto

        img
            max-width 100%

            @media $medium-max
                height auto

        &:before
            content ''
            position absolute
            display block
            left -30px
            top 220px
            height 94%
            width calc(100% + 20px)
            background #fff
            z-index 2
            box-shadow 10px -10px 20px rgba(#182452, .05)

            @media $large-up
                left -80px

    &-clear
        float none
        clear both

    &--building
        &:before
            bottom 60px !important

        &:after
            @media $small-wide-up
                content '1994' !important
                top 0 !important

        .Timeline-item
            margin-bottom 10px
            width 100%

            @media $small-wide-up
                width 50%
                margin-bottom 70px

            &:after
                border-color transparent
                color #FFDB2E
                width 11px
                height 11px
                line-height 11px
                top 32px

            &:nth-child(odd)
                @media $small-wide-up
                    text-align right

            &:nth-child(1)
                margin-top 30px

            &:nth-child(2)
                margin-top 0

                @media $small-wide-up
                    margin-top 120px

            &[data-year="2000"]
                &:before
                    left 0
                    top 67px
                    transform translateX(-50%)

            &[data-year="2017"]
                &:before
                    left 0
                    top 67px
                    transform translateX(-50%)

        h3:after, h3:before
            display none